In [1]:
import pandas as pd

In [2]:
import requests

# PASO 1: IMPORTACIÓN

In [3]:
#FUENTE VENTAS
df_ventas = pd.read_excel(r'C:\Users\ivan_pinar\Dropbox\Creación de MOCs\MOC Master Python Análisis de Datos\Datasets\CASO PRÁCTICO 1\Ventas.xlsx')

In [4]:
#FUENTE CLIENTES
df_clientes = pd.read_excel(r'C:\Users\ivan_pinar\Dropbox\Creación de MOCs\MOC Master Python Análisis de Datos\Datasets\CASO PRÁCTICO 1\Clientes.xlsx')

In [5]:
#FUENTE PRODUCTOS
df_productos = pd.read_excel(r'C:\Users\ivan_pinar\Dropbox\Creación de MOCs\MOC Master Python Análisis de Datos\Datasets\CASO PRÁCTICO 1\Productos.xlsx')

In [5]:
#FUENTE POBLACIÓN PIB
url_pib="https://www.worldometers.info/gdp/gdp-by-country/"
r = requests.get(url_pib)
df_lista_pib = pd.read_html(r.text)
df_pob_pib= df_lista_pib[0]

In [4]:
df_pob_pib.head()

,#,Country,"GDP (nominal, 2017)",GDP (abbrev.),GDP growth,Population (2017),GDP per capita,Share of World GDP
0,1,United States,"$19,485,394,000,000",$19.485 trillion,2.27%,325084756,"$59,939",24.08%
1,2,China,"$12,237,700,479,375",$12.238 trillion,6.90%,1421021791,"$8,612",15.12%
2,3,Japan,"$4,872,415,104,315",$4.872 trillion,1.71%,127502725,"$38,214",6.02%
3,4,Germany,"$3,693,204,332,230",$3.693 trillion,2.22%,82658409,"$44,680",4.56%
4,5,India,"$2,650,725,335,364",$2.651 trillion,6.68%,1338676785,"$1,980",3.28%

In [6]:
#FUENTE RENTA PER CÁPITA
url_rpc="https://en.wikipedia.org/wiki/List_of_countries_by_average_wage"
r = requests.get(url_rpc)
df_lista_rpc = pd.read_html(r.text)

In [11]:
df_rpc= df_lista_rpc[1] #Página modificada, previamente era el índice 15

In [12]:
df_rpc

             Country Average monthly wage (PPP)
0       Luxembourg *                     $5,265
1      Switzerland *                     $5,117
2    United States *                     $5,046
3           Norway *                     $4,317
4          Denmark *                     $4,288
5          Austria *                     $4,185
6           Canada *                     $3,992
7          Ireland *                     $3,944
8   United Kingdom *                     $3,653
9           France *                     $3,610
10          Sweden *                     $3,551
11         Finland *                     $3,549
12           Italy *                     $3,010

In [13]:
df_pob_pib

,#,Country,"GDP (nominal, 2017)",GDP (abbrev.),GDP growth,Population (2017),GDP per capita,Share of World GDP
0,1,United States,"$19,485,394,000,000",$19.485 trillion,2.27%,325084756,"$59,939",24.08%
1,2,China,"$12,237,700,479,375",$12.238 trillion,6.90%,1421021791,"$8,612",15.12%
2,3,Japan,"$4,872,415,104,315",$4.872 trillion,1.71%,127502725,"$38,214",6.02%
3,4,Germany,"$3,693,204,332,230",$3.693 trillion,2.22%,82658409,"$44,680",4.56%
4,5,India,"$2,650,725,335,364",$2.651 trillion,6.68%,1338676785,"$1,980",3.28%
...,...,...,...,...,...,...,...,...
185,186,Micronesia,"$336,427,500",$336 million,3.20%,532899,$631,0.00%
186,187,Palau,"$289,823,500",$290 million,-3.57%,17808,"$16,275",0.00%
187,188,Marshall Islands,"$204,173,430",$204 million,3.60%,58058,"$3,517",0.00%
188,189,Kiribati,"$185,572,502",$186 million,0.33%,114158,"$1,626",0.00%
189,190,Tuvalu,"$39,731,317",$40 million,3.24%,11370,"$3,494",0.00%

# Pregunta_1: Dimensiones dataframes

In [8]:
df_ventas.shape

(9994, 8)

In [9]:
df_clientes.shape

(793, 8)

In [10]:
df_productos.shape

(1864, 5)

In [11]:
df_pob_pib.shape

(190, 8)

In [12]:
df_rpc.shape

(37, 2)

# Pregunta_2: ¿Existen valores NaN en nuestras fuentes?

In [13]:
df_ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 8 columns):
ID Pedido          9994 non-null object
Fecha compra       9991 non-null datetime64[ns]
Fecha envío        9988 non-null datetime64[ns]
Modo envío         9994 non-null object
ID Cliente         9994 non-null object
ID Producto        9994 non-null object
Precio unitario    9994 non-null object
Cantidad           9994 non-null int64
dtypes: datetime64[ns](2), int64(1), object(5)
memory usage: 624.8+ KB

In [14]:
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 793 entries, 0 to 792
Data columns (total 8 columns):
ID Cliente        793 non-null object
Nombre cliente    793 non-null object
Segmento          793 non-null object
País              793 non-null object
Ciudad            338 non-null object
Estado            338 non-null object
Código Postal     338 non-null float64
Región            338 non-null object
dtypes: float64(1), object(7)
memory usage: 49.7+ KB

In [15]:
df_productos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1864 entries, 0 to 1863
Data columns (total 5 columns):
ID Producto         1864 non-null object
Categoría           1864 non-null object
Sub-categoría       1864 non-null object
Nombre Producto     1863 non-null object
Coste Producción    1862 non-null float64
dtypes: float64(1), object(4)
memory usage: 72.9+ KB

In [13]:
df_pob_pib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   #                    190 non-null    int64
 1   Country              190 non-null    object
 2   GDP (nominal, 2017)  190 non-null    object
 3   GDP (abbrev.)        190 non-null    object
 4   GDP growth           190 non-null    object
 5   Population (2017)    190 non-null    int64
 6   GDP per capita       190 non-null    object
 7   Share of World GDP   190 non-null    object
dtypes: int64(2), object(6)
memory usage: 12.0+ KB

In [17]:
df_rpc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 2 columns):
Country               36 non-null object
Averagemonthlywage    36 non-null object
dtypes: object(2)
memory usage: 704.0+ bytes

# PASO 2: LIMPIEZA DE INCONSISTENCIAS

# PREGUNTA 3: ¿Cuántos registros se han eliminado de df_ventas?

In [18]:
#Verificar si existe registros con Fecha compra vacíos (null)
df_ventas[df_ventas["Fecha compra"].isnull()]

,ID Pedido,Fecha compra,Fecha envío,Modo envío,ID Cliente,ID Producto,Precio unitario,Cantidad
15,US-2015-118983,NaT,2019-11-26,Standard Class,HP-14815,OFF-BI-10000756,"2,544",3
18,CA-2014-143336,NaT,2018-09-01,Second Class,ZD-21925,OFF-AR-10003056,"8,56",2
26,CA-2016-121755,NaT,2020-01-20,Second Class,EH-13945,TEC-AC-10003027,"90,57",3

In [19]:
#Eliminar registros con Fecha compra = null
df_ventas = df_ventas[df_ventas["Fecha compra"].notnull()]

In [20]:
df_ventas.shape

(9991, 8)

# PREGUNTA 4: ¿Existen registros duplicados en nuestros datos?

In [21]:
df_ventas.shape

(9991, 8)

In [22]:
df_productos.shape

(1864, 5)

In [23]:
df_clientes.shape

(793, 8)

In [24]:
df_pob_pib.shape

(189, 8)

In [25]:
df_rpc.shape

(36, 2)

In [27]:
df_ventas.drop_duplicates(inplace=True)
df_productos.drop_duplicates(inplace=True)
df_clientes.drop_duplicates(inplace=True)
df_pob_pib.drop_duplicates(inplace=True)
df_rpc.drop_duplicates(inplace=True)

In [28]:
df_ventas.shape

(9990, 8)

In [29]:
df_productos.shape

(1863, 5)

In [30]:
df_clientes.shape

(793, 8)

In [31]:
df_pob_pib.shape

(189, 8)

In [32]:
df_rpc.shape

(36, 2)

# PREGUNTA 5: Transforme el tipo de datos de los campos numéricos

In [33]:
df_ventas

,ID Pedido,Fecha compra,Fecha envío,Modo envío,ID Cliente,ID Producto,Precio unitario,Cantidad
0,CA-2016-152156,2020-11-08,2020-11-11 05:00:00,Second Class,CG-12520,FUR-BO-10001798,"261,96",2
1,CA-2016-152156,2020-11-08,2020-11-11 00:00:00,Second Class,CG-12520,FUR-CH-10000454,"731,94",3
2,CA-2016-138688,2020-06-12,2020-06-16 00:00:00,Second Class,DV-13045,OFF-LA-10000240,"14,62",2
3,US-2015-108966,2019-10-11,NaT,Standard Class,SO-20335,FUR-TA-10000577,"957,5775",5
4,US-2015-108966,2019-10-11,2019-10-18 00:00:00,Standard Class,SO-20335,OFF-ST-10000760,"22,368",2
...,...,...,...,...,...,...,...,...
9989,CA-2014-110422,2018-01-21,2018-01-23 00:00:00,Second Class,TB-21400,FUR-FU-10001889,"25,248",3
9990,CA-2017-121258,2021-02-26,2021-03-03 00:00:00,Standard Class,DB-13060,FUR-FU-10000747,"91,96",2
9991,CA-2017-121258,2021-02-26,2021-03-03 00:00:00,Standard Class,DB-13060,TEC-PH-10003645,"258,576",2
9992,CA-2017-121258,2021-02-26,2021-03-03 00:00:00,Standard Class,DB-13060,OFF-PA-10004041,"29,6",4
9993,CA-2017-119914,2021-05-04,2021-05-09 00:00:00,Second Class,CC-12220,OFF-AP-10002684,"243,16",2

In [34]:
df_ventas["Precio unitario"]=df_ventas["Precio unitario"].str.replace(",",".")

In [35]:
df_ventas

,ID Pedido,Fecha compra,Fecha envío,Modo envío,ID Cliente,ID Producto,Precio unitario,Cantidad
0,CA-2016-152156,2020-11-08,2020-11-11 05:00:00,Second Class,CG-12520,FUR-BO-10001798,261.96,2
1,CA-2016-152156,2020-11-08,2020-11-11 00:00:00,Second Class,CG-12520,FUR-CH-10000454,731.94,3
2,CA-2016-138688,2020-06-12,2020-06-16 00:00:00,Second Class,DV-13045,OFF-LA-10000240,14.62,2
3,US-2015-108966,2019-10-11,NaT,Standard Class,SO-20335,FUR-TA-10000577,957.5775,5
4,US-2015-108966,2019-10-11,2019-10-18 00:00:00,Standard Class,SO-20335,OFF-ST-10000760,22.368,2
...,...,...,...,...,...,...,...,...
9989,CA-2014-110422,2018-01-21,2018-01-23 00:00:00,Second Class,TB-21400,FUR-FU-10001889,25.248,3
9990,CA-2017-121258,2021-02-26,2021-03-03 00:00:00,Standard Class,DB-13060,FUR-FU-10000747,91.96,2
9991,CA-2017-121258,2021-02-26,2021-03-03 00:00:00,Standard Class,DB-13060,TEC-PH-10003645,258.576,2
9992,CA-2017-121258,2021-02-26,2021-03-03 00:00:00,Standard Class,DB-13060,OFF-PA-10004041,29.6,4
9993,CA-2017-119914,2021-05-04,2021-05-09 00:00:00,Second Class,CC-12220,OFF-AP-10002684,243.16,2

In [36]:
df_ventas["Precio unitario"]=pd.to_numeric(df_ventas["Precio unitario"])

In [37]:
df_ventas

,ID Pedido,Fecha compra,Fecha envío,Modo envío,ID Cliente,ID Producto,Precio unitario,Cantidad
0,CA-2016-152156,2020-11-08,2020-11-11 05:00:00,Second Class,CG-12520,FUR-BO-10001798,261.9600,2
1,CA-2016-152156,2020-11-08,2020-11-11 00:00:00,Second Class,CG-12520,FUR-CH-10000454,731.9400,3
2,CA-2016-138688,2020-06-12,2020-06-16 00:00:00,Second Class,DV-13045,OFF-LA-10000240,14.6200,2
3,US-2015-108966,2019-10-11,NaT,Standard Class,SO-20335,FUR-TA-10000577,957.5775,5
4,US-2015-108966,2019-10-11,2019-10-18 00:00:00,Standard Class,SO-20335,OFF-ST-10000760,22.3680,2
...,...,...,...,...,...,...,...,...
9989,CA-2014-110422,2018-01-21,2018-01-23 00:00:00,Second Class,TB-21400,FUR-FU-10001889,25.2480,3
9990,CA-2017-121258,2021-02-26,2021-03-03 00:00:00,Standard Class,DB-13060,FUR-FU-10000747,91.9600,2
9991,CA-2017-121258,2021-02-26,2021-03-03 00:00:00,Standard Class,DB-13060,TEC-PH-10003645,258.5760,2
9992,CA-2017-121258,2021-02-26,2021-03-03 00:00:00,Standard Class,DB-13060,OFF-PA-10004041,29.6000,4
9993,CA-2017-119914,2021-05-04,2021-05-09 00:00:00,Second Class,CC-12220,OFF-AP-10002684,243.1600,2

In [38]:
df_productos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1863 entries, 0 to 1862
Data columns (total 5 columns):
ID Producto         1863 non-null object
Categoría           1863 non-null object
Sub-categoría       1863 non-null object
Nombre Producto     1862 non-null object
Coste Producción    1861 non-null float64
dtypes: float64(1), object(4)
memory usage: 87.3+ KB

In [39]:
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 793 entries, 0 to 792
Data columns (total 8 columns):
ID Cliente        793 non-null object
Nombre cliente    793 non-null object
Segmento          793 non-null object
País              793 non-null object
Ciudad            338 non-null object
Estado            338 non-null object
Código Postal     338 non-null float64
Región            338 non-null object
dtypes: float64(1), object(7)
memory usage: 55.8+ KB

In [14]:
df_pob_pib.head()

,#,Country,"GDP (nominal, 2017)",GDP (abbrev.),GDP growth,Population (2017),GDP per capita,Share of World GDP
0,1,United States,"$19,485,394,000,000",$19.485 trillion,2.27%,325084756,"$59,939",24.08%
1,2,China,"$12,237,700,479,375",$12.238 trillion,6.90%,1421021791,"$8,612",15.12%
2,3,Japan,"$4,872,415,104,315",$4.872 trillion,1.71%,127502725,"$38,214",6.02%
3,4,Germany,"$3,693,204,332,230",$3.693 trillion,2.22%,82658409,"$44,680",4.56%
4,5,India,"$2,650,725,335,364",$2.651 trillion,6.68%,1338676785,"$1,980",3.28%

In [15]:
df_pob_pib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   #                    190 non-null    int64
 1   Country              190 non-null    object
 2   GDP (nominal, 2017)  190 non-null    object
 3   GDP (abbrev.)        190 non-null    object
 4   GDP growth           190 non-null    object
 5   Population (2017)    190 non-null    int64
 6   GDP per capita       190 non-null    object
 7   Share of World GDP   190 non-null    object
dtypes: int64(2), object(6)
memory usage: 12.0+ KB

In [16]:
df_pob_pib.rename(columns={"GDP (nominal, 2017)":"PIB","Population (2017)":"Población"},inplace=True)

In [17]:
df_pob_pib.head()

,#,Country,PIB,GDP (abbrev.),GDP growth,Población,GDP per capita,Share of World GDP
0,1,United States,"$19,485,394,000,000",$19.485 trillion,2.27%,325084756,"$59,939",24.08%
1,2,China,"$12,237,700,479,375",$12.238 trillion,6.90%,1421021791,"$8,612",15.12%
2,3,Japan,"$4,872,415,104,315",$4.872 trillion,1.71%,127502725,"$38,214",6.02%
3,4,Germany,"$3,693,204,332,230",$3.693 trillion,2.22%,82658409,"$44,680",4.56%
4,5,India,"$2,650,725,335,364",$2.651 trillion,6.68%,1338676785,"$1,980",3.28%

In [18]:
df_pob_pib["PIB"]=df_pob_pib["PIB"].str.replace("$","")
df_pob_pib["PIB"]=df_pob_pib["PIB"].str.replace(",","")

In [19]:
df_pob_pib.head()

,#,Country,PIB,GDP (abbrev.),GDP growth,Población,GDP per capita,Share of World GDP
0,1,United States,19485394000000,$19.485 trillion,2.27%,325084756,"$59,939",24.08%
1,2,China,12237700479375,$12.238 trillion,6.90%,1421021791,"$8,612",15.12%
2,3,Japan,4872415104315,$4.872 trillion,1.71%,127502725,"$38,214",6.02%
3,4,Germany,3693204332230,$3.693 trillion,2.22%,82658409,"$44,680",4.56%
4,5,India,2650725335364,$2.651 trillion,6.68%,1338676785,"$1,980",3.28%

In [46]:
df_pob_pib["PIB"]=pd.to_numeric(df_pob_pib["PIB"])

In [47]:
df_pob_pib.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 189 entries, 0 to 188
Data columns (total 8 columns):
#                     189 non-null int64
Country               189 non-null object
PIB                   189 non-null int64
GDP (abbrev.)         189 non-null object
GDP growth            189 non-null object
Población             189 non-null int64
GDP per capita        189 non-null object
Share of World GDP    189 non-null object
dtypes: int64(3), object(5)
memory usage: 13.3+ KB

In [14]:
df_rpc.head()

           Country Average monthly wage (PPP)
0     Luxembourg *                     $5,265
1    Switzerland *                     $5,117
2  United States *                     $5,046
3         Norway *                     $4,317
4        Denmark *                     $4,288

In [49]:
df_rpc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 0 to 35
Data columns (total 2 columns):
Country               36 non-null object
Averagemonthlywage    36 non-null object
dtypes: object(2)
memory usage: 864.0+ bytes

In [16]:
df_rpc["Average monthly wage (PPP)"]=df_rpc["Average monthly wage (PPP)"].str.replace("$","")
df_rpc["Average monthly wage (PPP)"]=df_rpc["Average monthly wage (PPP)"].str.replace(",","")
df_rpc["Average monthly wage (PPP)"]=pd.to_numeric(df_rpc["Average monthly wage (PPP)"])

In [20]:
df_rpc.head()

          Country  Average monthly wage (PPP)
0     Luxembourg                         5265
1    Switzerland                         5117
2  United States                         5046
3         Norway                         4317
4        Denmark                         4288

In [19]:
df_rpc["Country"]=df_rpc["Country"].str.replace("*","")

In [52]:
df_rpc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 0 to 35
Data columns (total 2 columns):
Country               36 non-null object
Averagemonthlywage    36 non-null int64
dtypes: int64(1), object(1)
memory usage: 864.0+ bytes

# PASO 3: LIMPIEZA ESTADÍSTICA

# PREGUNTA 6/7: ¿Cuál es la mediana del importe de nuestras ventas? / ¿Qué cantidad de unidades de productos no se superan en el 75% de los pedidos de sus clientes?

In [53]:
df_ventas["Importe"]=df_ventas["Precio unitario"]*df_ventas["Cantidad"]

In [54]:
df_ventas.describe()

       Precio unitario     Cantidad        Importe
count      9990.000000  9990.000000    9990.000000
mean        229.834970     3.843544    1173.072101
std         623.352233     2.660570    4023.827740
min           0.000000     1.000000       0.000000
25%          17.248000     2.000000      48.622500
50%          54.384000     3.000000     183.504000
75%         209.937500     5.000000     765.310875
max       22638.480000    40.000000  135830.880000

# PREGUNTA 8: ¿Cuántos pedidos se han realizado con un número de unidades mayor que 13?

In [55]:
df_ventas[df_ventas["Cantidad"]>13].count()

ID Pedido          29
Fecha compra       29
Fecha envío        29
Modo envío         29
ID Cliente         29
ID Producto        29
Precio unitario    29
Cantidad           29
Importe            29
dtype: int64

# PREGUNTA 9: Descartar los registros con unidades > 13. ¿Cuáles son las nuevas dimensiones del dataframe?

In [56]:
df_ventas=df_ventas[df_ventas["Cantidad"]<=13]

In [57]:
df_ventas.shape

(9961, 9)

# PREGUNTA 10: Completar fecha envío con la mediana de la diferencia fecha envio - fecha compra

In [58]:
df_ventas["Dif_env_comp"] = df_ventas["Fecha envío"]-df_ventas["Fecha compra"]

C:\Users\ivan_pinar\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [59]:
df_ventas.head()

,ID Pedido,Fecha compra,Fecha envío,Modo envío,ID Cliente,ID Producto,Precio unitario,Cantidad,Importe,Dif_env_comp
0,CA-2016-152156,2020-11-08,2020-11-11 05:00:00,Second Class,CG-12520,FUR-BO-10001798,261.9600,2,523.9200,3 days 05:00:00
1,CA-2016-152156,2020-11-08,2020-11-11 00:00:00,Second Class,CG-12520,FUR-CH-10000454,731.9400,3,2195.8200,3 days 00:00:00
2,CA-2016-138688,2020-06-12,2020-06-16 00:00:00,Second Class,DV-13045,OFF-LA-10000240,14.6200,2,29.2400,4 days 00:00:00
3,US-2015-108966,2019-10-11,NaT,Standard Class,SO-20335,FUR-TA-10000577,957.5775,5,4787.8875,NaT
4,US-2015-108966,2019-10-11,2019-10-18 00:00:00,Standard Class,SO-20335,OFF-ST-10000760,22.3680,2,44.7360,7 days 00:00:00

In [60]:
df_ventas["Dif_env_comp"].median()

Timedelta('4 days 00:00:00')

In [61]:
df_ventas["Fecha envío"].fillna(df_ventas["Fecha compra"]+df_ventas["Dif_env_comp"].median(),inplace=True)

C:\Users\ivan_pinar\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [62]:
df_ventas.head()

,ID Pedido,Fecha compra,Fecha envío,Modo envío,ID Cliente,ID Producto,Precio unitario,Cantidad,Importe,Dif_env_comp
0,CA-2016-152156,2020-11-08,2020-11-11 05:00:00,Second Class,CG-12520,FUR-BO-10001798,261.9600,2,523.9200,3 days 05:00:00
1,CA-2016-152156,2020-11-08,2020-11-11 00:00:00,Second Class,CG-12520,FUR-CH-10000454,731.9400,3,2195.8200,3 days 00:00:00
2,CA-2016-138688,2020-06-12,2020-06-16 00:00:00,Second Class,DV-13045,OFF-LA-10000240,14.6200,2,29.2400,4 days 00:00:00
3,US-2015-108966,2019-10-11,2019-10-15 00:00:00,Standard Class,SO-20335,FUR-TA-10000577,957.5775,5,4787.8875,NaT
4,US-2015-108966,2019-10-11,2019-10-18 00:00:00,Standard Class,SO-20335,OFF-ST-10000760,22.3680,2,44.7360,7 days 00:00:00

In [63]:
df_ventas["Dif_env_comp"] = df_ventas["Fecha envío"]-df_ventas["Fecha compra"]

C:\Users\ivan_pinar\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

# PASO 5: ANÁLISIS DE DATOS

In [64]:
df_global=df_ventas.merge(df_clientes, on="ID Cliente",how="inner").merge(df_productos, on="ID Producto",how="inner")

In [65]:
df_global.head()

,ID Pedido,Fecha compra,Fecha envío,Modo envío,ID Cliente,ID Producto,Precio unitario,Cantidad,Importe,Dif_env_comp,...,Segmento,País,Ciudad,Estado,Código Postal,Región,Categoría,Sub-categoría,Nombre Producto,Coste Producción
0,CA-2016-152156,2020-11-08,2020-11-11 05:00:00,Second Class,CG-12520,FUR-BO-10001798,261.960,2,523.920,3 days 05:00:00,...,Consumer,United States,Henderson,Kentucky,42420.0,South,Furniture,Bookcases,Bush Somerset Collection Bookcase,230.098156
1,CA-2017-110198,2021-05-01,2021-05-02 00:00:00,First Class,AG-10900,FUR-BO-10001798,314.352,3,943.056,1 days 00:00:00,...,Consumer,United States,Tucson,Arizona,85705.0,West,Furniture,Bookcases,Bush Somerset Collection Bookcase,230.098156
2,CA-2017-159793,2021-08-25,2021-08-29 00:00:00,Standard Class,SV-20365,FUR-BO-10001798,130.980,2,261.960,4 days 00:00:00,...,Consumer,United States,Dover,Delaware,19901.0,East,Furniture,Bookcases,Bush Somerset Collection Bookcase,230.098156
3,CA-2016-117681,2020-04-09,2020-04-14 00:00:00,Standard Class,HF-14995,FUR-BO-10001798,556.665,5,2783.325,5 days 00:00:00,...,Consumer,Germany,NaN,NaN,NaN,NaN,Furniture,Bookcases,Bush Somerset Collection Bookcase,230.098156
4,CA-2016-152156,2020-11-08,2020-11-11 00:00:00,Second Class,CG-12520,FUR-CH-10000454,731.940,3,2195.820,3 days 00:00:00,...,Consumer,United States,Henderson,Kentucky,42420.0,South,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",563.102730

# PREGUNTA 11: ¿Qué país representa el mayor volumen de nuestras ventas?

In [66]:
df_global.groupby("País")["Importe"].agg("sum").nlargest(5)

País
United States    5.356022e+06
Germany          3.445021e+06
Spain            1.976860e+06
Romania          5.207535e+05
Name: Importe, dtype: float64

# PREGUNTA 12: ¿En qué año se han obtenido un mayor número de ventas?

In [67]:
df_global.groupby(df_global["Fecha compra"].map(lambda x: x.year))["Importe"].agg("sum")

Fecha compra
2018    2.409251e+06
2019    2.348074e+06
2020    3.011996e+06
2021    3.529335e+06
Name: Importe, dtype: float64

# PREGUNTA 13: ¿Cuál es la categoría de productos que supone un mayor beneficio?

In [68]:
df_global["Beneficio"]=(df_global["Precio unitario"]-df_global["Coste Producción"])*df_global["Cantidad"]

In [69]:
df_global.groupby("Categoría")["Beneficio"].agg("sum").nlargest(5)

Categoría
Furniture          1.595747e+06
Technology         1.432976e+06
Office Supplies    1.290393e+06
Name: Beneficio, dtype: float64

# PREGUNTA 14/15: ¿Existe correlacion entre el “Beneficio” total obtenido en un estado y su renta per cápita? / ¿Existe correlacion entre el Importe total de nuestros pedidos y la cantidad de producto que solicita el cliente?

In [70]:
df_rpc.rename(columns={"Country":"País"},inplace=True)

In [71]:
df_global_rpc = df_global.merge(df_rpc,on="País",how="left")

In [72]:
df_global_rpc.head()

,ID Pedido,Fecha compra,Fecha envío,Modo envío,ID Cliente,ID Producto,Precio unitario,Cantidad,Importe,Dif_env_comp,...,Ciudad,Estado,Código Postal,Región,Categoría,Sub-categoría,Nombre Producto,Coste Producción,Beneficio,Averagemonthlywage
0,CA-2016-152156,2020-11-08,2020-11-11 05:00:00,Second Class,CG-12520,FUR-BO-10001798,261.960,2,523.920,3 days 05:00:00,...,Henderson,Kentucky,42420.0,South,Furniture,Bookcases,Bush Somerset Collection Bookcase,230.098156,63.723687,4893
1,CA-2017-110198,2021-05-01,2021-05-02 00:00:00,First Class,AG-10900,FUR-BO-10001798,314.352,3,943.056,1 days 00:00:00,...,Tucson,Arizona,85705.0,West,Furniture,Bookcases,Bush Somerset Collection Bookcase,230.098156,252.761531,4893
2,CA-2017-159793,2021-08-25,2021-08-29 00:00:00,Standard Class,SV-20365,FUR-BO-10001798,130.980,2,261.960,4 days 00:00:00,...,Dover,Delaware,19901.0,East,Furniture,Bookcases,Bush Somerset Collection Bookcase,230.098156,-198.236313,4893
3,CA-2016-117681,2020-04-09,2020-04-14 00:00:00,Standard Class,HF-14995,FUR-BO-10001798,556.665,5,2783.325,5 days 00:00:00,...,NaN,NaN,NaN,NaN,Furniture,Bookcases,Bush Somerset Collection Bookcase,230.098156,1632.834218,3478
4,CA-2016-152156,2020-11-08,2020-11-11 00:00:00,Second Class,CG-12520,FUR-CH-10000454,731.940,3,2195.820,3 days 00:00:00,...,Henderson,Kentucky,42420.0,South,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",563.102730,506.511811,4893

In [73]:
df_global_rpc.corr()

,Precio unitario,Cantidad,Importe,Código Postal,Coste Producción,Beneficio,Averagemonthlywage
Precio unitario,1.000000,0.202379,0.916354,0.005848,0.779740,0.660669,-0.002775
Cantidad,0.202379,1.000000,0.325476,-0.012311,0.034735,0.316595,0.020420
Importe,0.916354,0.325476,1.000000,0.005845,0.612528,0.836742,-0.001384
Código Postal,0.005848,-0.012311,0.005845,1.000000,0.017860,-0.001921,NaN
Coste Producción,0.779740,0.034735,0.612528,0.017860,1.000000,0.143228,-0.007849
Beneficio,0.660669,0.316595,0.836742,-0.001921,0.143228,1.000000,0.001526
Averagemonthlywage,-0.002775,0.020420,-0.001384,NaN,-0.007849,0.001526,1.000000

# PREGUNTA 16: Intentando analizar a la población de los diferentes países, existe alguna correlación entre el PIB de un país, su población y la renta per cápita?

In [74]:
df_pob_pib.rename(columns={"Country":"País"},inplace=True)
df_pob_pib.head()

,#,País,PIB,GDP (abbrev.),GDP growth,Población,GDP per capita,Share of World GDP
0,1,United States,19485394000000,$19.485 trillion,2.27%,325084756,"$59,939",24.08%
1,2,China,12237700479375,$12.238 trillion,6.90%,1421021791,"$8,612",15.12%
2,3,Japan,4872415104315,$4.872 trillion,1.71%,127502725,"$38,214",6.02%
3,4,Germany,3693204332230,$3.693 trillion,2.22%,82658409,"$44,680",4.56%
4,5,India,2650725335364,$2.651 trillion,6.68%,1338676785,"$1,980",3.28%

In [75]:
df_paises = df_pob_pib.merge(df_rpc,on="País",how="inner")

In [76]:
df_paises.head()

,#,País,PIB,GDP (abbrev.),GDP growth,Población,GDP per capita,Share of World GDP,Averagemonthlywage
0,1,United States,19485394000000,$19.485 trillion,2.27%,325084756,"$59,939",24.08%,4893
1,4,Germany,3693204332230,$3.693 trillion,2.22%,82658409,"$44,680",4.56%,3478
2,6,United Kingdom,2637866340434,$2.638 trillion,1.79%,66727461,"$39,532",3.26%,3461
3,7,France,2582501307216,$2.583 trillion,1.82%,64842509,"$39,827",3.19%,3374
4,9,Italy,1943835376342,$1.944 trillion,1.50%,60673701,"$32,038",2.40%,2671

In [77]:
df_paises.corr()

                           #       PIB  Población  Averagemonthlywage
#                   1.000000 -0.365782  -0.420753           -0.659831
PIB                -0.365782  1.000000   0.987157            0.284374
Población          -0.420753  0.987157   1.000000            0.245703
Averagemonthlywage -0.659831  0.284374   0.245703            1.000000

# PREGUNTA 17: ¿En qué países elegiría construir estas nuevas plantas de producción?

In [78]:
df_global["Dif_env_comp_d"]=pd.to_numeric(df_global["Dif_env_comp"])/(1000000000*3600*24)

In [79]:
df_global.head()

,ID Pedido,Fecha compra,Fecha envío,Modo envío,ID Cliente,ID Producto,Precio unitario,Cantidad,Importe,Dif_env_comp,...,Ciudad,Estado,Código Postal,Región,Categoría,Sub-categoría,Nombre Producto,Coste Producción,Beneficio,Dif_env_comp_d
0,CA-2016-152156,2020-11-08,2020-11-11 05:00:00,Second Class,CG-12520,FUR-BO-10001798,261.960,2,523.920,3 days 05:00:00,...,Henderson,Kentucky,42420.0,South,Furniture,Bookcases,Bush Somerset Collection Bookcase,230.098156,63.723687,3.208333
1,CA-2017-110198,2021-05-01,2021-05-02 00:00:00,First Class,AG-10900,FUR-BO-10001798,314.352,3,943.056,1 days 00:00:00,...,Tucson,Arizona,85705.0,West,Furniture,Bookcases,Bush Somerset Collection Bookcase,230.098156,252.761531,1.000000
2,CA-2017-159793,2021-08-25,2021-08-29 00:00:00,Standard Class,SV-20365,FUR-BO-10001798,130.980,2,261.960,4 days 00:00:00,...,Dover,Delaware,19901.0,East,Furniture,Bookcases,Bush Somerset Collection Bookcase,230.098156,-198.236313,4.000000
3,CA-2016-117681,2020-04-09,2020-04-14 00:00:00,Standard Class,HF-14995,FUR-BO-10001798,556.665,5,2783.325,5 days 00:00:00,...,NaN,NaN,NaN,NaN,Furniture,Bookcases,Bush Somerset Collection Bookcase,230.098156,1632.834218,5.000000
4,CA-2016-152156,2020-11-08,2020-11-11 00:00:00,Second Class,CG-12520,FUR-CH-10000454,731.940,3,2195.820,3 days 00:00:00,...,Henderson,Kentucky,42420.0,South,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",563.102730,506.511811,3.000000

In [80]:
df_global.groupby("País")["Dif_env_comp_d"].agg("mean")

País
Germany          4.061989
Romania          4.092827
Spain            3.846154
United States    3.921228
Name: Dif_env_comp_d, dtype: float64

# PREGUNTA 18: Formato Excel con el beneficio de cada categoría en cada uno de los países. Exporta el resultado a un fichero con nombre “Reporte Beneficios” y pestaña “Beneficios_cat_pais”.

In [81]:
df_global.groupby(["Categoría","País"])["Beneficio"].agg("sum")

Categoría        País
Furniture        Germany          441296.278063
                 Romania           86856.519394
                 Spain            281087.457956
                 United States    786506.706828
Office Supplies  Germany          502295.029687
                 Romania           39880.819509
                 Spain            158683.421832
                 United States    589533.493818
Technology       Germany          462599.528711
                 Romania           48038.620395
                 Spain            273800.359628
                 United States    648537.528101
Name: Beneficio, dtype: float64

In [82]:
df_resumen=df_global.groupby(["Categoría","País"])["Beneficio"].agg("sum").to_frame()

In [83]:
df_resumen

                                   Beneficio
Categoría       País
Furniture       Germany        441296.278063
                Romania         86856.519394
                Spain          281087.457956
                United States  786506.706828
Office Supplies Germany        502295.029687
                Romania         39880.819509
                Spain          158683.421832
                United States  589533.493818
Technology      Germany        462599.528711
                Romania         48038.620395
                Spain          273800.359628
                United States  648537.528101

In [565]:
#Exportar a Excel
df_resumen.to_excel(r'C:\Users\ivan_pinar\Dropbox\Creación de MOCs\MOC Master Python Análisis de Datos\Datasets\CASO PRÁCTICO 1\Reporte Beneficios.xlsx',sheet_name = "Beneficios_cat_pais")

In [84]:
df_global_rpc.to_excel(r'C:\Users\ivan_pinar\Dropbox\Creación de MOCs\MOC Master Python Análisis de Datos\Datasets\CASO PRÁCTICO 1\df_global_rpc.xlsx',sheet_name = "global")