In [2]:
import pandas as pd

# Usa la ruta con la carpeta
df_ventas = pd.read_excel("CASO PRÁCTICO 1/ventas.xlsx")
df_clientes = pd.read_excel("CASO PRÁCTICO 1/clientes.xlsx")
df_productos = pd.read_excel("CASO PRÁCTICO 1/productos.xlsx")

print("Ventas:", df_ventas.shape)
print("Clientes:", df_clientes.shape)
print("Productos:", df_productos.shape)

Ventas: (9994, 8)
Clientes: (793, 8)
Productos: (1864, 5)

In [43]:
df_ventas

,ID Pedido,Fecha compra,Fecha envío,Modo envío,ID Cliente,ID Producto,Precio unitario,Cantidad,Importe total
0,CA-2016-152156,2020-11-08,2020-11-11 05:00:00,Second Class,CG-12520,FUR-BO-10001798,261.9600,2,523.9200
1,CA-2016-152156,2020-11-08,2020-11-11 00:00:00,Second Class,CG-12520,FUR-CH-10000454,731.9400,3,2195.8200
2,CA-2016-138688,2020-06-12,2020-06-16 00:00:00,Second Class,DV-13045,OFF-LA-10000240,14.6200,2,29.2400
3,US-2015-108966,2019-10-11,2019-10-15 00:00:00,Standard Class,SO-20335,FUR-TA-10000577,957.5775,5,4787.8875
4,US-2015-108966,2019-10-11,2019-10-18 00:00:00,Standard Class,SO-20335,OFF-ST-10000760,22.3680,2,44.7360
...,...,...,...,...,...,...,...,...,...
9989,CA-2014-110422,2018-01-21,2018-01-23 00:00:00,Second Class,TB-21400,FUR-FU-10001889,25.2480,3,75.7440
9990,CA-2017-121258,2021-02-26,2021-03-03 00:00:00,Standard Class,DB-13060,FUR-FU-10000747,91.9600,2,183.9200
9991,CA-2017-121258,2021-02-26,2021-03-03 00:00:00,Standard Class,DB-13060,TEC-PH-10003645,258.5760,2,517.1520
9992,CA-2017-121258,2021-02-26,2021-03-03 00:00:00,Standard Class,DB-13060,OFF-PA-10004041,29.6000,4,118.4000
9993,CA-2017-119914,2021-05-04,2021-05-09 00:00:00,Second Class,CC-12220,OFF-AP-10002684,243.1600,2,486.3200

In [41]:
#df_ventas['ID Cliente'] if df_ventas['Cantidad']>=4
clientes_4 = df_ventas.loc[df_ventas["Cantidad"] >12, "ID Cliente"].unique()
print(clientes_4)

['KC-16540' 'JD-15895' 'KH-16510' 'JS-15880' 'DJ-13630' 'JH-16180'
 'MY-17380' 'GG-14650' 'NS-18505' 'SV-20935' 'SD-20485' 'MS-17365'
 'KC-16675' 'EG-13900' 'PO-18850' 'JM-15535' 'SG-20470' 'DP-13105'
 'VP-21760' 'AB-10105' 'BD-11500' 'CB-12535' 'ML-17395' 'JH-15985'
 'TW-21025' 'NC-18535' 'LL-16840']

# Importar los datos de Worldometers (PIB, población y renta per cápita).

In [3]:
import pandas as pd

# URL de Worldometers
url = "https://www.worldometers.info/gdp/gdp-by-country/"

# Leemos todas las tablas de la página
tablas = pd.read_html(url)

# Normalmente la primera tabla es la que nos interesa
df_world = tablas[0]

# Mostramos primeras filas y nombres de columnas para entenderla
print(df_world.head())
print(df_world.columns)

   #        Country  GDP (nominal, 2023)    GDP (abbrev.) GDP Growth  \
0  1  United States  $27,720,700,000,000  27.721 trillion      2.89%
1  2          China  $17,794,800,000,000  17.795 trillion      5.25%
2  3        Germany   $4,525,700,000,000   4.526 trillion     −0.27%
3  4          Japan   $4,204,490,000,000   4.204 trillion      1.68%
4  5          India   $3,567,550,000,000   3.568 trillion      8.15%

   Population 2023 GDP per capita Share of World GDP
0        343477335        $80,706             26.11%
1       1422584933        $12,509             16.76%
2         84548231        $53,528              4.26%
3        124370947        $33,806              3.96%
4       1438069596         $2,481              3.36%
Index(['#', 'Country', 'GDP (nominal, 2023)', 'GDP (abbrev.)', 'GDP Growth',
       'Population 2023', 'GDP per capita', 'Share of World GDP'],
      dtype='object')

# Separar la tabla de Worldometers en 3 dataframes

📌 Objetivo:
De la tabla df_world que hemos descargado, necesitamos crear:

df_pib → columnas País y PIB.

df_pob → columnas País y Población.

df_rpc → columnas País y Renta per cápita.

In [8]:
# --- Título: Crear df_pib, df_pob y df_rpc a partir de las columnas reales ---

df_pib = df_world[["País", "PIB"]].copy()
df_pob = df_world[["País", "Population 2023"]].rename(columns={"Population 2023": "Población"})
df_rpc = df_world[["País", "Renta per cápita"]].copy()

print("PIB:", df_pib.shape)
print("Población:", df_pob.shape)
print("Renta per cápita:", df_rpc.shape)

print("\nEjemplo df_pib:\n", df_pib.head())
print("\nEjemplo df_pob:\n", df_pob.head())
print("\nEjemplo df_rpc:\n", df_rpc.head())

PIB: (181, 2)
Población: (181, 2)
Renta per cápita: (181, 2)

Ejemplo df_pib:
             País                  PIB
0  United States  $27,720,700,000,000
1          China  $17,794,800,000,000
2        Germany   $4,525,700,000,000
3          Japan   $4,204,490,000,000
4          India   $3,567,550,000,000

Ejemplo df_pob:
             País   Población
0  United States   343477335
1          China  1422584933
2        Germany    84548231
3          Japan   124370947
4          India  1438069596

Ejemplo df_rpc:
             País Renta per cápita
0  United States          $80,706
1          China          $12,509
2        Germany          $53,528
3          Japan          $33,806
4          India           $2,481

¿Existen valores NaN en nuestras fuentes?

📌 Objetivo:
Ver si en cada dataframe (df_ventas, df_clientes, df_productos, df_pib, df_pob, df_rpc) hay valores faltantes (NaN).

In [9]:
# --- Título: Comprobar valores NaN en los 6 dataframes ---

dataframes = {
    "Ventas": df_ventas,
    "Clientes": df_clientes,
    "Productos": df_productos,
    "PIB": df_pib,
    "Población": df_pob,
    "Renta per cápita": df_rpc
}

for nombre, df in dataframes.items():
    print(f"\n### {nombre} ###")
    print(df.isna().sum())  # cuenta NaN por columna

### Ventas ###
ID Pedido          0
Fecha compra       3
Fecha envío        6
Modo envío         0
ID Cliente         0
ID Producto        0
Precio unitario    0
Cantidad           0
dtype: int64

### Clientes ###
ID Cliente          0
Nombre cliente      0
Segmento            0
País                0
Ciudad            455
Estado            455
Código Postal     455
Región            455
dtype: int64

### Productos ###
ID Producto         0
Categoría           0
Sub-categoría       0
Nombre Producto     1
Coste Producción    2
dtype: int64

### PIB ###
País    0
PIB     0
dtype: int64

### Población ###
País         0
Población    0
dtype: int64

### Renta per cápita ###
País                0
Renta per cápita    0
dtype: int64

“Realizar la limpieza de aquellos registros inconsistentes: en la empresa se considera inconsistente un registro si no existe una fecha de compra (está vacía).”

Es decir: solo nos interesa limpiar df_ventas eliminando los registros donde la columna Fecha compra es NaN.

In [10]:
# --- Título: Eliminar registros inconsistentes en df_ventas (sin Fecha compra) ---

antes = df_ventas.shape[0]

# Eliminamos los registros donde Fecha compra es NaN
df_ventas = df_ventas[df_ventas["Fecha compra"].notna()].copy()

despues = df_ventas.shape[0]
eliminados = antes - despues

print(f"Registros eliminados de df_ventas por Fecha compra vacía: {eliminados}")
print(f"Nueva dimensión de df_ventas: {df_ventas.shape}")

Registros eliminados de df_ventas por Fecha compra vacía: 3
Nueva dimensión de df_ventas: (9991, 8)

¿Existen registros duplicados en nuestros datos?
Si los hay, hay que limpiarlos.

In [11]:
# --- Título: Detectar y eliminar duplicados ---

# Ventas
dups_ventas = df_ventas.duplicated().sum()
print("Duplicados en df_ventas:", dups_ventas)

# Clientes
dups_clientes = df_clientes.duplicated().sum()
print("Duplicados en df_clientes:", dups_clientes)

# Productos
dups_productos = df_productos.duplicated().sum()
print("Duplicados en df_productos:", dups_productos)

# Eliminamos duplicados si existen
df_ventas = df_ventas.drop_duplicates().copy()
df_clientes = df_clientes.drop_duplicates().copy()
df_productos = df_productos.drop_duplicates().copy()

Duplicados en df_ventas: 1
Duplicados en df_clientes: 0
Duplicados en df_productos: 1

“Varios campos de nuestros dataframes contienen datos numéricos, pero en algunos casos pueden estar como strings (con ‘,’, espacios o símbolos como ‘$’).
Transforma las columnas implicadas para que puedan ser numéricas. ¿Qué campos has tenido que modificar?”

In [12]:
# --- Título: Convertir columnas numéricas mal tipadas en los 3 dataframes ---

import pandas as pd

def limpiar_a_numero(col):
    """Limpia una serie y la convierte a numérico"""
    return (col.astype(str)
                .str.replace("$", "", regex=False)
                .str.replace("€", "", regex=False)
                .str.replace(",", ".", regex=False)  # cambia coma por punto decimal
                .str.replace(" ", "", regex=False)   # quita espacios
                .pipe(pd.to_numeric, errors="coerce"))

# Revisamos df_ventas
for c in ["Precio unitario", "Cantidad"]:
    if c in df_ventas.columns:
        df_ventas[c] = limpiar_a_numero(df_ventas[c])

# Revisamos df_productos
for c in ["Coste Producción"]:
    if c in df_productos.columns:
        df_productos[c] = limpiar_a_numero(df_productos[c])

# Si hubiera campos similares en clientes, podríamos revisarlos también
print("Tipos en df_ventas:\n", df_ventas.dtypes)
print("Tipos en df_productos:\n", df_productos.dtypes)

Tipos en df_ventas:
 ID Pedido                  object
Fecha compra       datetime64[ns]
Fecha envío        datetime64[ns]
Modo envío                 object
ID Cliente                 object
ID Producto                object
Precio unitario           float64
Cantidad                    int64
dtype: object
Tipos en df_productos:
 ID Producto          object
Categoría            object
Sub-categoría        object
Nombre Producto      object
Coste Producción    float64
dtype: object

“Es el momento de analizar nuestros datos desde el punto de vista estadístico.
Visualice los diferentes dataframes para obtener los principales datos estadísticos (describe).
¿Cuál es la mediana del valor de nuestras ventas?”

In [14]:
# --- Título: Estadísticos y mediana del valor de las ventas ---

# Crear columna "Importe total" si no existe
if "Importe total" not in df_ventas.columns:
    df_ventas["Importe total"] = df_ventas["Precio unitario"] * df_ventas["Cantidad"]

# Estadísticos SOLO de columnas numéricas
num_cols = df_ventas.select_dtypes(include=["int64", "float64"]).columns
print(df_ventas[num_cols].describe())

# Mediana del importe total
mediana_importe = df_ventas["Importe total"].median()
print("\nLa mediana del valor de nuestras ventas es:", mediana_importe)

       Precio unitario     Cantidad  Importe total
count      9990.000000  9990.000000    9990.000000
mean        229.834970     3.843544    1173.072101
std         623.352233     2.660570    4023.827740
min           0.000000     1.000000       0.000000
25%          17.248000     2.000000      48.622500
50%          54.384000     3.000000     183.504000
75%         209.937500     5.000000     765.310875
max       22638.480000    40.000000  135830.880000

La mediana del valor de nuestras ventas es: 183.50400000000002

“¿Qué cantidad de unidades de productos no se superan en el 75 % de los pedidos de sus clientes?”

Esto equivale a calcular el percentil 75 (Q3) de la columna Cantidad en df_ventas.

In [15]:
# --- Título: Calcular el percentil 75 de la cantidad de unidades ---

q75_cantidad = df_ventas["Cantidad"].quantile(0.75)

print(f"En el 75% de los pedidos, la cantidad de unidades no supera: {q75_cantidad}")

En el 75% de los pedidos, la cantidad de unidades no supera: 5.0

“Nuestra empresa ha decidido que la cantidad máxima de unidades de pedido que puede tramitar a un cliente es de 13 unidades.
Por tanto, si en nuestros datos existen registros con número de unidades mayor, es un outlier y es un dato no válido para los análisis posteriores.
¿Cuántos pedidos se han realizado con un número de unidades mayor que 13?”

In [16]:
# --- Título: Detectar pedidos con más de 13 unidades ---

outliers_unidades = (df_ventas["Cantidad"] > 13).sum()

print(f"Número de pedidos con más de 13 unidades: {outliers_unidades}")

Número de pedidos con más de 13 unidades: 29

“Realiza la limpieza del dataframe df_ventas de tal manera que descartemos los registros con unidades > 13.
¿Cuáles son las nuevas dimensiones del dataframe?”

In [18]:
# --- Título: Eliminar pedidos con más de 13 unidades (outliers) ---

antes = df_ventas.shape

# Filtramos solo pedidos válidos
df_ventas = df_ventas[df_ventas["Cantidad"] <= 13].copy()

despues = df_ventas.shape
eliminados = antes[0] - despues[0]

print(f"Registros eliminados: {eliminados}")
print(f"Nuevas dimensiones de df_ventas: {df_ventas.shape}")

Registros eliminados: 0
Nuevas dimensiones de df_ventas: (9961, 9)

“En algunos pedidos, no está registrada la Fecha de envío.
Se deben completar esos registros como la Fecha compra + mediana de la diferencia entre Fecha de envío - Fecha compra del resto de pedidos.”

In [19]:
# --- Título: Rellenar fechas de envío faltantes con mediana de diferencia ---

# Calculamos la diferencia en días entre fecha de envío y fecha de compra
delta_dias = (df_ventas["Fecha envío"] - df_ventas["Fecha compra"]).dt.days

# Mediana de esa diferencia (solo registros válidos)
mediana_dias = delta_dias.dropna().median()
print(f"Mediana de la diferencia (envío - compra): {mediana_dias} días")

# Rellenamos las fechas de envío faltantes
mask_faltantes = df_ventas["Fecha envío"].isna()
df_ventas.loc[mask_faltantes, "Fecha envío"] = (
    df_ventas.loc[mask_faltantes, "Fecha compra"] + pd.to_timedelta(mediana_dias, unit="D")
)

print(f"Fechas de envío completadas: {mask_faltantes.sum()}")

Mediana de la diferencia (envío - compra): 4.0 días
Fechas de envío completadas: 6